<div class="video">
<video autoplay>
<source src="
###CONTENT:
" type="video/mp4">
</video>
<div id="info">
<p class="viewCount">
###CONTENT:
</p>
<p class="reaction">
###CONTENT:
</p>
<p class="description">
###CONTENT:
</p>
</div>
<div id="commentSection">
<div class="userComments">
<span class="user">
###CONTENT:
</span>
<span class="comment">
###CONTENT: 
</span>
</div>
</div>