*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3b3b3b;
}

#drop-area {
    
    text-align: center;
    width: 550px;
    height: 350px;
    border: 2px solid #278236;
    border-radius: 30px;
    cursor: pointer;
    
}

#img-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}



#upload-icon {
    align-items: center;
}

#upload-icon:hover {
    scale: 1.1;
    opacity: 0.6;
}

