.header {
    display: inline-grid;
    margin: 5px;
    padding: 5px;
    width: 80px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 15px;
    background-color: black;
}

h1 {
    font-size: 16px;
    font-family: sans-serif;
    color: #1e8419;
}

.outerLayer {
    aspect-ratio: 9 / 16;
    height: 85vh;
    position: relative;
    justify-self: center;
    border-radius: 15px;
    border: #1e8419 solid 10px;
    background-color: #1e8419;
    justify-content: center;
}

.clipsContainer {
    aspect-ratio: 9 / 16;
    height: 85vh;
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-direction: column;
}

.videoMain {
    position: relative; 
    min-height: 85vh;
    background-color: black;
    scroll-snap-align: start;
    border-radius: 15px;
    overflow: hidden;
}

.videoSub {
    height: 85vh;
    width: 100%;
}

.info {
    min-height: 80vh;
    position: relative;
    bottom: 115vh;
}

.viewCount {
    color: white;
    position: absolute;
    bottom: 20vh;
    right: 0.5em;
    font-family: sans-serif;
    font-size: 1.2em;
}

.reaction {
    height: 15vh;
    width: 5vh;
    position: absolute;
    bottom: 22vh;
    right: 0.2em;
    font-size: 2em;
}

.description {
    font-family: sans-serif;
    color: white;
    margin-left: 1em;
    position: absolute;
    height: 2vh;
    bottom: -15vh;
}

.descriptionSub {
    font-family: sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
    position: bottom;
}

.commentSection {
    position: relative;
    bottom: 103vh;
    min-height: 12vh;
    min-width: 50vw;
    color: white;
}

.commentPanelWrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.commentPanelToggle {
    position: absolute;
    top: 30vh;
    right: 0vh;
    width: 5vh;
    height: 5vh;
    display: grid;
    place-items: center;
    color: #000000;
    background: #73ff83;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 20;
    transition: right 0.3s ease;
}

.commentPanelToggle:hover {
    background: #005a21;
    color: #ffffff;
}

.commentPanel {
    position: absolute;
    top: 0;
    right: -50vh;
    width: 44vh;
    height: 100%;
    background: #39a32f;
    color: #ffffff;
    padding: 1vh;
    box-shadow: -3px 0 10px #000000;
    transition: right 0.3s ease;
    pointer-events: auto;
    overflow-y: auto;
    z-index: 15;
}

.commentPanelOpen .commentPanel {
    right: 0vh;
}

.commentPanelOpen .commentPanelToggle {
    right: 43vh;
}

.commentPanelIconClose {
    display: none;
}

.commentPanelOpen .commentPanelIconOpen {
    display: none;
}

.commentPanelOpen .commentPanelIconClose {
    display: block;
}

.commentsContainer {
    position: relative;
    width: 100%;
    height: 80%;
    background: #4d4d4c;
    border-radius: 5px;
    overflow-y: hidden;
}
.commentsContainerInner {
    position: relative;
    width: 100%;
    height: 98.5%;
    background: #4d4d4c;
    overflow-y: scroll;
}
.newCommentContainer {
    position: relative;
    bottom: 1%;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
}
.newCommentTextBox {
    position: relative;
    width: 85%;
    resize: none;
}
.newCommentSubmitButton {
    position: relative;
    width: 15%;
}

.userCommentFull {
    background: #ddfff9;
    color:#000000;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    padding: 1vh;
    border-radius: 4px;
}
.userComment {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1.5em;
}
.profileContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}
.profileContainerSub {
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
}
.profileName {
    font-family: sans-serif;
    font-size: 0.8em;
}
.profilePicture {
    height: 4vh;
    width: 4vh;
    background: #000000;
    border-radius: 100vh;
}
.commentDate {
    font-family: sans-serif;
    font-size: 0.8em;
    margin-left: 1vh;
    color: #727272;
}
.commentText {
    font-family: sans-serif;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30vh;
    margin-left: 1vh;
}
.commentFullText {
    font-family: sans-serif;
    font-size: 0.8em;
}