<div class="video">
<video autoplay>
<source src="
###CONTENT: SOURCE
" type="video/mp4">
</video>
<div id="info">
<p class="viewCount">
###CONTENT: VIEWS
</p>
<p class="reaction">
###CONTENT: EMOJIS
</p>
<p class="description">
###CONTENT: DESCRIPTION
</p>
</div>
<div id="commentSection">
###CONTENT: COMMENT_SHORT
</div>
</div>