.header {
    display: inline-grid;
    margin: 5px;
    padding: 5px;
    width: 80px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 15px;
    background-color: black;
}

h1 {
    font-size: 16px;
    font-family: sans-serif;
    color: #1e8419;
}

#outerLayer {
    height: 90vh;
    width: 38vw;
    position: relative;
    left: 30vw;
    border-radius: 15px;
    border: #1e8419 solid 10px;
    background-color: #4d4d4c;
    display: flex; 
    justify-content: center;
}

.clipsContainer {
    height: 85vh;
    width: 35vw;
    margin-top: 2em;
    display: flex;
    overflow: auto;
    gap: 2em;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

.clipsContainer::-webkit-scrollbar{
    display: none;
}

.video {
    min-height: 85vh;
    min-width: 35vw;
    background-color: black;
    scroll-snap-align: start;
    border-radius: 15px;
}

video {
    width: 35vw;
    height: 85vh;
    overflow: hidden;
    border-radius: 15px;
}

#info {
    min-height: 80vh;
    position: relative;
    bottom: 115vh;
}

.viewCount {
    color: white;
    position: absolute;
    bottom: 24vh;
    right: 0.5em;
    font-family: sans-serif;
    font-size: 1.2em;
}

.reaction {
    height: 15vh;
    width: 5vh;
    position: absolute;
    bottom: 25vh;
    right: 0.2em;
    font-size: 2em;
}

.description {
    font-family: sans-serif;
    color: white;
    margin-left: 1em;
    position: absolute;
    height: 2vh;
    bottom: -15vh;
    overflow: hidden;
}

#description {
    font-family: sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
    position: bottom;
}

#commentSection {
    position: relative;
    bottom: 103vh;
    min-height: 12vh;
    min-width: 50vw;
    color: white;
}

.userComments {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1.5em;
}

.user {
    font-family: sans-serif;
    font-size: 0.8em;
    margin-right: 1em;
}

.comment {
    font-family: sans-serif;
    font-size: 0.8em;
}