*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3b3b3b;
}

#drop_area {
    
    text-align: center;
    width: 550px;
    height: 250px;
    border: 2px solid #278236;
    border-radius: 30px;
    cursor: pointer;
    
}

#img_view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000%;
    color: white;
}



#upload_icon {
    align-items: center;
}

#upload_icon:hover {
    scale: 1.1;
    opacity: 0.6;
}